<h1>Books</h1>

<table>
  <tr>
    <th>title</th>
    <th>body</th>
  </tr>
  <td>
   <% @books.each do |book| %>
     <span><%= book.title %></span>
   <% end %>
  </td>
  <td>
   <% @books.each do |book| %>
    <span><%= book.body %></span>
   <% end %>
  </td>
</table>
